[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h5py = "*"
pandas = "*"
numpy = "*"
ipython = "*"
selenium = "*"

[dev-packages]
sphinx = "*"
sphinx-argparse = "*"
sphinxcontrib-bibtex = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"

[requires]
python_version = "3.10"
